@charset "utf-8";
 /*
    Paletas de cores
    Verde: #49a09d
    lilás: #5f2c82
*/

@media screen and (min-width:768px) and (max-width:992px) {
    body{background-image: linear-gradient(to top,#49a09d,#5f2c82);}
    section#login{
        width: 80vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:992px){
    body{background-image: linear-gradient(to top,#49a09d,#5f2c82);}
    
    section#login{
        width: 950px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario{font-size: 1.2em;}
    div#formulario>h1{font-size: 2em;}
}