@charset "UTF-8";

/*
    Paletas de cores
    Verde: #49a09d
    lilás: #5f2c82
*/
*
{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#imagem img{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;height: 100vh;
    display: block;
    margin: auto;
}


#formulario{
    background-color: rgb(255, 255, 255);
    position:absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 20px;
}

p>input{
    border-radius: 10px;  
    width: 40vw;
    padding: 5px;

}


.icons_pequenos{
    min-width: 10%;
    background-color: #49a09d;
    display: inline;
    padding: 7px;
     margin: 10px;
     border-radius: 10px;
    }

.icons_pequenos .enviar_limpar{
    width: 20%;
    padding: 5px;
     margin-top: 5px;
     margin-right: 5px;
     
     }

    .icons{background-color: blueviolet;
        display: inline-block;
        border-radius: 5px;
        margin: 10px;
        padding: 3px;
   }

   
